## Build a model to predict housing prices 
### Based on Kaggle challege 
#### https://www.kaggle.com/c/home-data-for-ml-course/overview
##### https://www.kaggle.com/code/brittanysuttner/exercise-machine-learning-competitions/edit

In [64]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [43]:
#path of files to read
train = './train.csv'
test = './test.csv'
meta = './data_description.txt'

train_data = pd.read_csv(train)
# Test data does NOT contain SalePrice, need to predict this after creating a model
test_data = pd.read_csv(test)

train_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [69]:
#set prediction target variable
y = train_data.SalePrice

In [45]:
#Check out the features of the dataset.
#train_data.columns

In [37]:
# Select some features to use for the preliminary model bsaed on best guess
house_features = ["MSSubClass","LotArea","OverallQual","YearBuilt","1stFlrSF","2ndFlrSF","TotRmsAbvGrd"]

In [46]:
X = train_data[house_features]

In [47]:
X.describe()

,MSSubClass,LotArea,OverallQual,YearBuilt,1stFlrSF,2ndFlrSF,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,10516.828082,6.099315,1971.267808,1162.626712,346.992466,6.517808
std,42.300571,9981.264932,1.382997,30.202904,386.587738,436.528436,1.625393
min,20.000000,1300.000000,1.000000,1872.000000,334.000000,0.000000,2.000000
25%,20.000000,7553.500000,5.000000,1954.000000,882.000000,0.000000,5.000000
50%,50.000000,9478.500000,6.000000,1973.000000,1087.000000,0.000000,6.000000
75%,70.000000,11601.500000,7.000000,2000.000000,1391.250000,728.000000,7.000000
max,190.000000,215245.000000,10.000000,2010.000000,4692.000000,2065.000000,14.000000

In [70]:
#Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

#Build simple decision tree model
iowa_model = DecisionTreeRegressor(random_state=1)

#Fit the model
iowa_model.fit(train_X,train_y)

DecisionTreeRegressor(random_state=1)

In [71]:
#Make predictions on the validation data
val_predictions = iowa_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print(f"Validation MAE: {val_mae}")

Validation MAE: 26867.813698630136

### Test different Max_Leaf_nodes to see which is best for pediction

In [72]:
# Write function to get the MAE:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=1)
    model.fit(train_X, train_y)
    pred_vals = model.predict(val_X)
    mae = mean_absolute_error(val_y, pred_vals)
    return(mae)

In [73]:
# Compare different Tree sizes
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
#write loop to find ideal tree size from candidate max leaf nodes
for max_leaf_nodes in candidate_max_leaf_nodes:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print(f"Max leaf nodes: {max_leaf_nodes} \t MAE: {my_mae}")
    
#Store and return the best value of max_leaf_nodes
scores = {leaf_size: get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
best_tree_size = min(scores, key=scores.get)
print(scores)

Max leaf nodes: 5 	 MAE: 30659.16215009306
Max leaf nodes: 25 	 MAE: 26802.447637047364
Max leaf nodes: 50 	 MAE: 25582.73546745361
Max leaf nodes: 100 	 MAE: 25253.122787569886
Max leaf nodes: 250 	 MAE: 27065.8576397
Max leaf nodes: 500 	 MAE: 27462.759884757557
{5: 27462.759884757557, 25: 27462.759884757557, 50: 27462.759884757557, 100: 27462.759884757557, 250: 27462.759884757557, 500: 27462.759884757557}

In [74]:
#Re-run model with optimal size
iowa_model_2 = DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)

# fit the model
iowa_model_2.fit(train_X, train_y)

#Make predictions on the validation data
val_predictions = iowa_model_2.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print(f"Validation MAE: {val_mae}")

#Decreases MAE from 26,867 to 25,253...not so much!

Validation MAE: 25253.122787569886

### Random Forest model

In [65]:
# define model and set random state to 1
rf_model = RandomForestRegressor(random_state=1)

# Fit the model
rf_model.fit(train_X, train_y)

# Calculate MAE of RF model on validation data
rf_pred = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(val_y, rf_pred)

print(f"Validation MAE for RF model: {rf_val_mae}")

Validation MAE for RF model: 19700.585804305283

#### Decreases MAE from 25,253 to 19,700!
#### Next step would be to try other features to see if we can minimize this error. What are some statistical methods for doing this?
#### For now Run with full training dataset to get a more accurate model

In [75]:
# To improve accuracy, create a new Random Forest model which you will train on all training data
rf_model_on_full_data = RandomForestRegressor(random_state=1)
rf_model_on_full_data.fit(X,y)

RandomForestRegressor(random_state=1)

In [67]:
# create test_X which comes from test_data but includes only the columns you used for prediction.
# The list of columns is stored in a variable called house_features
test_X = test_data[house_features]
test_X.describe()

,MSSubClass,LotArea,OverallQual,YearBuilt,1stFlrSF,2ndFlrSF,TotRmsAbvGrd
count,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,57.378341,9819.161069,6.078821,1971.357779,1156.534613,325.967786,6.385195
std,42.746880,4955.517327,1.436812,30.390071,398.165820,420.610226,1.508895
min,20.000000,1470.000000,1.000000,1879.000000,407.000000,0.000000,3.000000
25%,20.000000,7391.000000,5.000000,1953.000000,873.500000,0.000000,5.000000
50%,50.000000,9399.000000,6.000000,1973.000000,1079.000000,0.000000,6.000000
75%,70.000000,11517.500000,7.000000,2001.000000,1382.500000,676.000000,7.000000
max,190.000000,56600.000000,10.000000,2010.000000,5095.000000,1862.000000,15.000000

In [77]:
test_preds = rf_model_on_full_data.predict(test_X)

In [79]:
output = pd.DataFrame({'ID': test_data.Id, 'SalePrice': test_preds})
output

        ID  SalePrice
0     1461  131171.50
1     1462  150941.00
2     1463  151191.67
3     1464  177864.90
4     1465  195205.00
...    ...        ...
1454  2915   82165.00
1455  2916   81350.00
1456  2917  151466.96
1457  2918  126775.60
1458  2919  233989.00

[1459 rows x 2 columns]